<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %></th>
      <th scope="col"><%= @cocktail.name %></th>
    </tr>
    <tr>
      <th scope="col">Ingredients</th>
      <th scope="col">Doses</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @ingredients.each do |ingredient| %>
    <% ingredient.doses.each do |dose| %>
    <tr>
      <td>
          <%= ingredient.name %>
      </td>
      <td>
          <%= dose.description %>
      </td>
      <td>
          <%= link_to "Delete dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary"  %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
