<div class="p-3">
<h1>Ingredients for <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "add this ingredient", class: "btn btn-primary" %>
<% end %>
</div>
<%= link_to "Back to cocktail", cocktail_path(@cocktail), class: "btn btn-primary m-3" %>


